.container {
    
    display: flex;
    flex-direction:row ; 
    
    flex-wrap: nowrap;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
img {
    height: 680px;
    width: 189px;
    object-fit: cover;
    
  
   
    
}

